{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "plugins": ["import", "html", "typescript"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "typescript-eslint-parser",
    "ecmaFeatures": {
      "jsx": true,
      "classes": true
    },
    "sourceType": "module"
  },
  "root": true,
  "extends": ["airbnb-base", "typescript", "plugin:prettier/recommended", "plugin:vue/essential"],
  "settings": {
    "html/indent": "+2",
    "import/resolver": {
      "node": true,
      "eslint-import-resolver-typescript": true
    }
  },
  "rules": {
    "prettier/prettier":{
      "trailingComma": "all"
    },
    "comma-dangle": 2
  }
}
